html,
body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #14213D;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}


li {
  list-style: none;
}