.firstSection {
  color: #fca311;
}

.firstSection h1 {
  color: #fca311;
  font-size: 60px;
}

.firstSection small {
  color: #fca311;
  font-size: 30px;
}

.projectsSection {
  margin-top: 100px;
  color: #fca311;
  display: block;
}

.projectsSection h3 {
  color: #fca311;
  font-size: 40px;
}

.projectsSection small {
  color: #fca311;
  font-size: 30px;
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}